Repository LachezaraLaz/341-soen341project2023, pull requests merged in 2023-03, with the labels that each got.

#81 M branch 1
  Implico/__init__.py
  Implico/__pycache__/__init__.cpython-310.pyc
  Implico/__pycache__/login.cpython-310.pyc
  Implico/__pycache__/signup.cpython-310.pyc
  Implico/__pycache__/userProfile.cpython-310.pyc
  Implico/projectDatabase.py
  Implico/static/javascript/editProfile.js
  Implico/templates/editProfile.html
  Implico/templates/loginHTML.html
  Implico/templates/profileTempHTML.html
  Implico/uploads/Sprint_1_Grading_Sheet.pdf
  Implico/userProfile.py
  __pycache__/main.cpython-310.pyc
  data.db
  userProfile.py
Labels: bug

#107 Main
  Implico/employerDashboard.py
  Implico/signup.py
  Implico/templates/jobDashboardHTML.html
Labels: User story - Employer - Dashboard Page, task

#110 Viewing the job posting for a candidate
  Implico/notification.py
  Implico/signup.py
  Implico/templates/JobDescription.html
  Implico/templates/viewJobPosting.html
Labels: User Story - Student - Browse for job offers, task

#112 M linking branch
  Implico/projectDatabase.py
  Implico/templates/loginHTML.html
  data.db
Labels: bug, enhancement

#113 small change for notification
  Implico/notification.py
Labels: User Story - Student - Notification Page, task

#114 further change for notification
  Implico/notification.py
  Implico/templates/Notification.HTML
Labels: bug, User Story - Student - Notification Page

#115 change a column name and reference in notification
  Implico/projectDatabase.py
Labels: User Story - Student - Notification Page, enhancement

#116 notification from student to employer
  Implico/notification.py
  Implico/templates/Notification.HTML
Labels: User Story - Student - Notification Page, task

#117 Main
  Implico/employerDashboard.py
  Implico/login.py
  Implico/projectDatabase.py
  Implico/signup.py
  Implico/templates/editJobEmployer.html
  Implico/templates/jobApplicantsEmployer.html
  data.db
Labels: User story - Employer - Dashboard Page, User Story - Employer - Selecting a candidate

#118 Main
  Implico/employerDashboard.py
  Implico/templates/jobApplicantsEmployer.html
  data.db
Labels: User Story - Employer - Selecting a candidate

#121 Main
  Implico/employerDashboard.py
Labels: bug, User Story - Employer - Selecting a candidate

#123 added functionality of view candidate profile
  Implico/employerDashboard.py
Labels: User Story - Employer - Selecting a candidate, enhancement

#122 adding small detail to make view profile work
  Implico/templates/jobApplicantsEmployer.html
Labels: User Story - Employer - Selecting a candidate, enhancement

#125 Main
  Implico/employerDashboard.py
Labels: bug, User story - Employer - Dashboard Page

#132 Main
  Implico/adminPages.py
  Implico/employerDashboard.py
  Implico/login.py
  Implico/notification.py
  Implico/signup.py
Labels: bug

#133 #128 nav bar linking complete and obsolete files deleted
  Feature 4/Edit Profile/editProfile.html
  Feature 4/Edit Profile/editProfile.js
  Feature 4/Edit Profile/editProfilestyle.css
  Feature 4/Profile/profile.html
  Feature 4/Profile/profilestyle.css
  Implico/templates/Notification.HTML
  Implico/templates/jobPostingHTML.html
  Implico/templates/profileHTML.html
  Implico/templates/signUpHTML.html
  Implico/templates/viewCandidateProfile.html
  Implico/templates/viewJobPosting.html
  Implico/templates/viewMoreJobEmployer.html
Labels: bug

#134 #101 modifications to frontend of these admin pages were made
  Implico/templates/adminJobDashboard.html
  Implico/templates/editJobAdmin.html
Labels: enhancement
