Repository LachezaraLaz/341-soen341project2023, pull requests merged in 2023-04, with the labels that each got.

#139 Adding Submit Feedback and adminViewFeedback frontend pages
  Implico/static/feedback_image.png
  Implico/templates/Application.HTML
  Implico/templates/JobDescription.html
  Implico/templates/addUserAdmin.html
  Implico/templates/adminJobDashboard.html
  Implico/templates/adminUsers.html
  Implico/templates/adminViewFeedback.html
  Implico/templates/candidateSubmitFeedback.html
  Implico/templates/editJobAdmin.html
  Implico/templates/editJobEmployer.html
  Implico/templates/editProfile.html
  Implico/templates/editUserAdmin.html
  Implico/templates/employerSubmitFeedback.html
  Implico/templates/home.html
  Implico/templates/indexAdmin.html
  Implico/templates/indexCandidate.html
  Implico/templates/indexEmployer.html
  Implico/templates/jobApplicantsEmployer.html
  Implico/templates/jobDashboardHTML.html
Labels: User Story - Admin - feedback center

#141 Add frontend implementation of Tags and fix search bar for job search
  Implico/templates/JobDescription.html
  Implico/templates/adminJobDashboard.html
  Implico/templates/editJobAdmin.html
  Implico/templates/editJobEmployer.html
  Implico/templates/jobDashboardHTML.html
  Implico/templates/viewJobPosting.html
  Implico/templates/viewMoreJobEmployer.html
Labels: User Story - Student - Search by title, User Story - Employer - Adding tags to job posting

#144 Inserting information in jobAppiclants table
  Implico/notification.py
  Implico/templates/JobDescription.html
Labels: enhancement

#146 Small changes on HTML files
  Implico/static/css/signUpCSS.css
  Implico/templates/loginHTML.html
  Implico/templates/profileTempHTML.html
  Implico/templates/signUpHTML.html
Labels: bug

#148 Fixing css for profile page
  Implico/templates/profileTempHTML.html
Labels: bug, enhancement

#150 #136 modifying frontend and allowing for user to search through poste…
  Implico/static/javascript/userJobs.js
  Implico/templates/viewJobPosting.html
Labels: bug, User Story - Student - Browse for job offers, task

#151 Added column for Tags in database
  Implico/projectDatabase.py
  data.db
Labels: task

#156 Merge branch 'main' of https://github.com/suha-ab/341-soen341project2023
  Implico/__init__.py
  Implico/feedback.py
  Implico/projectDatabase.py
  Implico/userProfile.py
  data.db
Labels: User Story - Admin - feedback center

#158 Main
  Implico/adminPages.py
  Implico/employerDashboard.py
  Implico/feedback.py
  Implico/home.py
  Implico/login.py
  Implico/notification.py
  Implico/signup.py
  Implico/templates/adminViewFeedback.html
  Implico/userProfile.py
Labels: bug, User Story - Admin - feedback center

#164 Main
  Implico/employerDashboard.py
  Implico/feedback.py
  Implico/home.py
  Implico/signup.py
  data.db
Labels: bug

#165 Fixing jobdashboard bugs & start to implement tags
  Implico/employerDashboard.py
  Implico/templates/editJobEmployer.html
Labels: bug

#167 Complete tags implementation
  Implico/employerDashboard.py
  Implico/projectDatabase.py
  Implico/templates/JobDescription.html
  Implico/templates/jobDashboardHTML.html
  Implico/templates/viewJobPosting.html
  data.db
Labels: task, enhancement, User Story - Employer - Adding tags to job posting
